*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/**Banner*/
.banner{
    position: relative;
    width: 100%;
    height: calc(108vh - 50px);
    background-image: url(./img/anime.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}
.contenido{
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.contenido h1{
    margin: 20px;
    font-size: 30px;
}
.contenido p{
    margin: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #fff;
    transition: all .3s ease-in-out;
}
.button:hover{
    background-color: #fff;
    color: rgb(227, 13, 13);
}
.footer{
    position: relative;
    width: 100%;
    height: calc(20vh);
    background-image: url(./img/ani.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenidof{
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
